footer,article {
  border: 1.3px solid black;
  padding:15px;
  margin: 10px;
  text-align:center;
  background-color:#E0FFFF; /*#7fffd4*/
	}
		/* #20b2aa;*/
/*  contenedor intermedio de contenedores*/

 nav {
  border: 1.3px solid black;
  padding: 10px;;
  margin: 10px;
  background-color: #7fffd4;
	}
/* -----------------------------------------BODY COLOR ------------------------------------

	 matiza el color del cuerpo entero dela pagina, 
    matiza el color del blanco al azulado*/

body {
    background: -webkit-linear-gradient(left, white, #20b2aa); 
    background: -o-linear-gradient(right, white, #20b2aa); 
    background: -moz-linear-gradient(right, white, #20b2aa); 
    background: linear-gradient(to right, white, #20b2aa);  
		}

/*---------------------------------ENCABEZADO CON SU FOTO-------------------------
	contenedor GENERAL del encabezado
    este SUBORDINA a sus atributos de clase
    tiene grilla de 12 x 1, 
    incluye #logoWrapper y a la dereche #menuWrapper------------------------------*/

header{
  font-family: Helvetica;
  border: 1.3px solid black;
  padding: 10px;;
  margin: 10px;
  background-color: #7fffd4;
   display: grid;
   grid-template-columns: repeat(12, 1fr);
	}

		/*-----------------------LOGO ----------------------------------*/
#logoWrapper {
/*  margin:auto; */
margin-right: : auto;
  width: 200px; 
}

/*contiene imagen y texto, 
  LA IMAGEN ESTA COLOCADA EN EL FONDO 
    Y EL TEXTO DELANTE*/
#logoContenedor {
    background: url(img1.jpg) no-repeat;
    display: inline-block;
    background-size: 100px 100px;
    height: 110px;
    padding-left: 110px;
}

/*ALINEO EL TEXTO al centro 
    DENTRO DEL LOGOCONTENEDOR */
#nombreEmpresa {
    height: 100px;
    display: table-cell;
    vertical-align: middle;
}

#logoWrapper {
  grid-row:1;
    grid-column:1/6;
}
/* COLOCO EL NAVEGADOR CON ZOLAPAS 
    A LA DERECHA DENTRO DEL HEADER*/
    /*row = filas .....column = columna*/
#menuWrapper {
  grid-row:1;
    grid-column:8/13;
}


/*-----------------------MENU DEL NAVEGADOR ENCABEZADO----------------------------------*/
      #menu ul {
        padding: 1;
        margin: 1;
        list-style: none;
      }
      #menu li {
        background-color: #C0C0C0;
        color: white;
        float: left;
        position: relative;
        padding: 100;
        display: block;
        text-decoration: none;
        border-style: inset;
      }
      #menu li ul {
        display: none;
        position: absolute;
      }
      #menu li:hover ul {
        display: block;
        background-color: #COCOCO;
        color: white;
        height: auto;
        width: 8em;
      }
      #menu li ul li {
        clear: both;
        border-style: none;
        color: black;
      }
   /*-----------------------MENU DEL NAVEGADOR ENCABEZADO----------------------------*/


 .cat-foto-producto
	{
	height: 150px;
	width: 150px;
	}
.logo-foto-proveedor, .logo-foto-tarjetas 
	{
	height: 90px;
	width: 90px;
	}
.cat-foto-nuevos
	{
	height: 180px;
	width: 180px;
	}
.cat-foto-categoria{
	height: 150px;
	width: 230px;
	}
.cat-foto-destacados, .cat-foto-descuentos, .cat-foto-noticias{
	height: 150px;
	width: 180px;
}

   /*---------------SECCIONES---------------------------------------------------
   ---------------------CATEGORIA.NOTICIAS.DESCUENTO.DESTACADOS.SUB-PIE---------*/

section {
	/*border: 10px solid black; */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
		}
/*
@media only screen and ( max-width: 600px) {
      section {
        display:grid;
        grid-template-columns: repeat(1, 1fr);
		}
*/
#Categorias{
  text-align: center;
  border: 1.3px solid black;
  padding: 10px;;
  margin: 10px;
  background-color: none;
  grid-column: 2/8;
		}	
#Categorias-conte{
  padding: 10px;;
  margin: 10px;
  background-color: none;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  		}
#Noticias{
  text-align: center;
 
  padding: 10px;;
  margin: 10px;
  background-color: none;
  grid-column: 8/12;
		}
#Noticias-conte{ 
  padding: 10px;;
  margin: 10px;
  background-color: none;
  display: grid;
  grid-template-columns:  repeat(1,1fr);
  		}

#Destacados{
  text-align: center;
  border: 1.3px solid black;
  padding: 10px;;
  margin: 10px;
  background-color: none;
  grid-column: 7/12;
		}
#Destacados-conte{ 
  padding: 10px;;
  margin: 10px;
  background-color: none;
  display: grid;
  grid-template-columns:  repeat(2,1fr);
  		}

#Descuentos{
  text-align: center;
  border: 1.3px solid black;
  padding:10px;
  margin: 10px;
  background-color: none;
  grid-column: 2/7;
		}
#Descuentos-conte{ 
  padding: 10px;;
  margin: 10px;
  background-color: none;
  display: grid;
  grid-template-columns:  repeat(2,1fr);
  		}

#Productos{
  text-align: center;
  padding: 15px;;
  margin: 15px;
  background-color:none;
  grid-column: 1/12;
		}
#Productos-conte{ 
  padding: 15px;;
  margin: 15px;
  background-color: none;
  display: grid;
  grid-template-columns:  repeat(12,1fr);
  grid-template-rows: repeat(1,1fr);
  		}
.cat-producto{
	display: grid;
	grid-template-columns:  repeat(1,1fr);
	grid-template-rows: repeat(3,1fr);
		}
.cat-categoria, .cat-descuentos, .cat-destacados{
	background: none;
	border:none;
		}
.cat-noticias{
	border: none;
	background-color: #7fffd4; /*#E0FFFF*/
		}
/*
section{
  border: 1.3px solid black;
  padding: 10px;;
  margin: 10px;
  background-color: #7fffd4;
}
*/

/*
 repeat(2,1fr);
display: grid;
    grid-template-columns: repeat(12, 1fr);
span {
	display: grid;
	grid-template-columns:
	grid-column: 1/8;
	}

	*/

/*---------ORIGINAL igual que NOTICIAS--------------
#Categorias{
  border: 5.3px solid black;
  padding: 10px;;
  margin: 10px;
  background-color: #7fffd4;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column: 2/8;
}
.cat-categoria{
	display: inline-block;
}*/

/*----------------------------CARROSUEL.slider-----------------------------------------*/
.cat-prod-nuevo{
	background: none;
		}
#Productos-slider {
	text-align: center;
		}
.slider{
	display: flex;
	width: auto;
	height: 300px;
	overflow-x: scroll;
	overflow-y: hidden;
	scroll-behavior: initial;
		}
.slider img{
	flex: 0 0 200px;
	width: 100px;
	height: 100px ;
	object-fit: cover;
	scroll-behavior: unset;
	padding: 10px;
	margin:10px;
		}	

.slider-logo-proveedor{
	background-color: white;
		}
/*----------------------------CARROSUEL.slider-----------------------------------------*/

/*----------------------------SUB.PIE CONTACTO--------------------------------------------
---------------------------nosotros.informacion.tucuenta-------------------------------------*/
#fin {
  		border: none;
  		padding: 10px;;
  		margin: 10px;
   		grid-column: 2/12;
   		}
#fin1 {
		border: 1px solid black;
  		padding: 10px;;
  		margin: 10px;
   	  	list-style: none;
	  	grid-column: 2/5;
			}
#fin2 {
		border: 1px solid black;
  		padding: 10px;;
  		margin: 10px;
	  	grid-column: 5/8;
   		list-style: none;
			}
#fin3 {  
  		border: 1px solid black;
  		padding: 10px;;
  		margin: 10px;
		grid-column: 8/12;
        list-style: none;
			}
/*----------------------------SUB.PIE CONTACTO-----------------------------------------*/	

/*----------------------------SLIDER FOTOS TARJETA Y PROOVEDORES------------------------------*/	

.slider-logo-tarjetas, .slider-logo-proveedor{
	text-align: center;
}
/*----------------------------SLIDER FOTOS TARJETA Y PROOVEDORES------------------------------*/	